version: '3.8'

services:
  planetapi:
    image: ${DOCKER_REGISTRY-}planetapi
    hostname: planetapi
    build:
      context: .
      dockerfile: PlanetAPI/Dockerfile
    env_file:
     - .env.dev
     
  galaxyapi:
    image: ${DOCKER_REGISTRY-}galaxyapi
    hostname: galaxyapi
    build:
      context: .
      dockerfile: GalaxyAPI/Dockerfile
    env_file:
    - .env.dev
    
  db:
    image: mysql:8.0
    hostname: dbServer
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=MYSQLPASS2022!
    ports:
      - '3306:3306'
    volumes:
      - db:/var/lib/mysql
      - ./DB/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - .env.dev

  nightskyapp:
    image: ${DOCKER_REGISTRY-}nightskyapp
    build:
      context: .
      dockerfile: NightSkyApp/Dockerfile

volumes:
  db:
    driver: local